#title {
     background-color: rgb(30, 58, 130);
     color: white;
}

#footer {
     background-color: rgb(65, 99, 158);
     margin: 10rem 0 0;
     padding: 2rem;
}

#cf {
     padding: 3% 15% 7%;
}

#content {
     padding: 3% 15% 7%;
}

html {
     font-family: 'Open Sans', sans-serif;
}

body {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
}